{% extends 'learning_logs/base.html' %}

{% block page_header %}
  <h1 class="mb-4">Topics</h1>
{% endblock page_header %}

{% block content %}

  <div class="list-group">
    {% for topic in topics %}
      <a href="{% url 'learning_logs:topic' topic.id %}" class="list-group-item list-group-item-action">
        {{ topic.text }}
      </a>
    {% empty %}
      <p class="mb-4">No topics have been added yet.</p>
    {% endfor %}
  </div>

  <a href="{% url 'learning_logs:new_topic' %}" class="btn btn-primary mt-4">Add a new topic</a>

{% endblock content %}

